body{
    font-family: 'Inika', serif;
}
.h1{
    margin: 72px 0 0;
    font-size: 40px;
    font-weight: 700;
}

.header{
    padding: 31px;
    max-height: 103px;
    min-height: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
    font-family: 'Marcellus', serif;
}

.header-span{
    color: #E8C23E;
    font-family: 'Marcellus', serif;
}

.banner{
    padding-left: 80px;
    padding-top: 206px;
    box-sizing: border-box;
    height: 803px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/fortetsa.png");
}

.content{
    font-size: 48px;
    color: white;
    width: 60%;
    background-image: url("./img/flag.png");
    height: 272px;
    background-repeat: no-repeat;
    padding-left: 59px;
    box-sizing: border-box;
    padding-top: 0%;
}

.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 25px 0 ;

}

.main{
    padding: 0 80px;
}

.card{
    border: 1px solid black;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 60px 40px 30px 30px;
    box-shadow: 0px 4px 57px rgba(0 0 0 0.5%);
}

.card_image{
    width: 100%; 
}

.card_margin{
    margin: 0 4.5%;
}
.card_title{
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    padding: 16px 10px 0 12px;
    box-sizing: border-box;
}

.card_subtitle{
    font-size: 20px;
    font-weight: 400;
    color:#E8C23E;
    padding: 20px 0 65px 12px;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

.line1{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 21px 0 41px 577px;
}

.support{
    background-color: #2A61F0;
    padding: 10px;
    display: inline-block;
    color: white;
    font-size: 64px;
    font-weight: 700;
    width: 592px;
    margin: 51px 0 21px 0;
}

.conteiner{
    background-color:#2F4A4B;
    height: 320px;
}

.header2{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
}

.header2-span{
        color: #DFE31E;
        font-family: 'M PLUS 1',
            sans-serif;
}

.mail{
    color: #A89D9D;
    font-size: 36px;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    margin: 31px;
}

.tel{
    color: #A89D9D;
    font-size: 36px;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    margin: 21px;

}



.link{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
   
}



